In [1]:
import pandas as pd
import numpy as np
import os
import datetime

In [2]:
os.getcwd()

'C:\\Users\\kzimmerman\\Py Projects'

In [27]:
df = pd.read_csv('Subsample.csv')

In [31]:
df1 = df[df.agcy =='FNCL']
df2 = df[df.agcy !='FNCL']

In [45]:
def search(x, x_array):
    x_below = x_array[x_array < x].max()
    x_above = x_array[x_array > x].min()
    return(x_below,x_above)

In [46]:
search(100,df1['px'])

(99.69479167, 101.8161458)

In [47]:
search(100,df2['px'])

(97.1984375, 101.8161458)

In [ ]:
def Linterp(x, x_array,y_array):
    if x_array <2:
        return
    elif x_range.isin([x]).any():
        y = y_range[x_ran.isin([x])]
        return y
    else:
        x_below = x_array[x_array < x].max()
        x_above = x_array[x_array > x].min()

In [157]:
df1[df1['px'] < 100].max()

agcy         FNCL
cpn           3.5
px        99.6948
bb            F30
sd      1/25/2019
dtype: object

In [152]:
type(df['px'])

pandas.core.series.Series

In [156]:
df['px'].head()

0     94.143750
1     97.198437
2     99.694792
3    101.816146
4    103.593750
Name: px, dtype: float64

In [153]:
type(df[['px']])

pandas.core.frame.DataFrame

In [155]:
df[['px']].head()

           px
0   94.143750
1   97.198437
2   99.694792
3  101.816146
4  103.593750

In [143]:
(df1['px'] < 100).max()

[True]

In [70]:
df2['px']

6      94.143750
7      97.198437
8     100.000000
9     101.816146
10    103.593750
11    104.943750
Name: px, dtype: float64

In [93]:
df2.iloc[2,2]

100.0

In [91]:
df2

    agcy  cpn          px   bb         sd
6   G2SF  2.5   94.143750  F30  1/25/2019
7   G2SF  3.0   97.198437  F30  1/25/2019
8   G2SF  3.5  100.000000  F30  1/25/2019
9   G2SF  4.0  101.816146  F30  1/25/2019
10  G2SF  4.5  103.593750  F30  1/25/2019
11  G2SF  5.0  104.943750  F30  1/25/2019

In [100]:
mylist = [100.000,200.000,300.023]
100.0 in mylist

True

In [101]:
type(mylist),type(df2['px'])

(list, pandas.core.series.Series)

In [81]:
df2['px'].isin([100])

6     False
7     False
8      True
9     False
10    False
11    False
Name: px, dtype: bool

In [72]:
df2['cpn'][df2['px']==100]

8    3.5
Name: cpn, dtype: float64

In [108]:
df2['cpn'][df2['px'].isin([100])]

8    3.5
Name: cpn, dtype: float64

In [103]:
y_ran = df2['cpn']
x_ran = df2['px']
x= 100

In [117]:
y_ran[x_ran.isin([x])]

8    3.5
Name: cpn, dtype: float64

In [110]:
x_ran.isin([x])

6     False
7     False
8      True
9     False
10    False
11    False
Name: px, dtype: bool

In [132]:
def returning_y(x,x_range,y_range):
    if x_range.isin([x]).any():
        y = y_range[x_ran.isin([x])]
        return y

In [133]:
returning_y(100,df2['px'],df2['cpn'])

8    3.5
Name: cpn, dtype: float64

In [34]:
df2

    agcy  cpn          px   bb         sd
6   G2SF  2.5   94.143750  F30  1/25/2019
7   G2SF  3.0   97.198437  F30  1/25/2019
8   G2SF  3.5  100.000000  F30  1/25/2019
9   G2SF  4.0  101.816146  F30  1/25/2019
10  G2SF  4.5  103.593750  F30  1/25/2019
11  G2SF  5.0  104.943750  F30  1/25/2019

In [33]:
search(100,df2['px'])

(97.1984375, 101.8161458)

In [39]:
x = 100
x_array = df1['px']

In [49]:
x_array.count()

6

In [40]:
(x_array - x).abs().min()

0.30520832999999925

In [38]:
x_array2 = df2['px']

In [149]:
tuple(x_array[x_array < x].abs().min(),y_array)

TypeError: tuple() takes at most 1 argument (2 given)

In [147]:
y_array = df1['cpn']