In [53]:
import numpy as np
import pandas as pd
import datetime
import os

# List Comprehension

Beginners usually do something like this:

In [20]:
mystring = 'hello'

In [21]:
mylist = []

for letter in mystring:
    mylist.append(letter)

mylist

['h', 'e', 'l', 'l', 'o']

List comphrehensions flatten the for loop to:

In [11]:
mylist = [letter for letter in mystring]
mylist

['h', 'e', 'l', 'l', 'o']

In [13]:
mylist = [x for x in 'wordtwo']
mylist

['w', 'o', 'r', 'd', 't', 'w', 'o']

Created number lists:

In [14]:
mylist = [x for x in range(0,11)]
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

List comprehensions can apply operations:

In [16]:
mylist = [num**2 for num in range(0,11)]
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Add conditions to the end:

In [17]:
mylist = [x for x in range(0,11) if x%2==0]
mylist

[0, 2, 4, 6, 8, 10]

In [19]:
celcius = [0,10,20,34.5]

fahrenheit = [( (9/5)*temp +32) for temp in celcius]
fahrenheit

[32.0, 50.0, 68.0, 94.1]

# Lambda, Map, & Filter

## Map

In [22]:
def square(num):
    return num**2

In [23]:
my_nums = [1,2,3,4,5]

In [24]:
map(square,my_nums)

<map at 0x1386d754390> is a memory location

In order to use the output, it needs to be interated on:

In [25]:
for item in map(square,my_nums):
    print(item)

1
4
9
16
25

In [26]:
# to store the output
list(map(square,my_nums))

[1, 4, 9, 16, 25]

**More complicated functions can be passed to map**

In [27]:
def splicer(mystring):
    if len(mystring)%2 == 0:
        return 'EVEN'
    else:
        return mystring[0]

In [28]:
names = ['Andy','Eve','Sally']

In [29]:
list(map(splicer,names))

['EVEN', 'E', 'S']

**notice** the function is passed to map without ()

## Filter

* Filter is an iterator that returns items in iterable that when passed through the function it's true.
* Requires a function returns **True** or **False**

In [36]:
def check_even(num):
    return num%2 == 0

In [35]:
mynums = [x for x in range(0,7)]
mynums

[0, 1, 2, 3, 4, 5, 6]

In [37]:
filter(check_even, mynums)

In [40]:
list(filter(check_even, mynums))

[0, 2, 4, 6]

## Lambda

* Lambda expressions are "anonymous" functions and are for one time use

Turning a function into a **lambda** expression:

### beginning f(x):

In [43]:
def square(num):
    result = num **2
    return result

square(15)

225

### first collapse:

In [44]:
def square(num):
    return num **2

square(16)

256

### flat f(x):

(*this isn't PEP Style*)

In [46]:
def square(num): return num **2
square(17)

289

### *Lambda* expression

* removes def and f(x) name since it's anonmyous
* removes return since it's assumed

In [48]:
lambda num: num ** 2

## Combining Lambda, Map, Filter

In [49]:
list(map(lambda num: num**2,mynums))

[0, 1, 4, 9, 16, 25, 36]

In [50]:
list(filter(lambda num: num%2 == 0, mynums))

[0, 2, 4, 6]

In [51]:
names

['Andy', 'Eve', 'Sally']

In [52]:
list(map(lambda x : x[::-1], names))

['ydnA', 'evE', 'yllaS']